.Navbar {
   display: grid;
   grid-template-columns: auto auto;
   justify-content: space-between;
   position: fixed;
   width: 100%;
   height: 8vh;
   z-index: 999;
   align-items: center;
   background-color: #1A1A18;
   align-items: center;
}

.NavItems {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 2.5%;
    column-gap: 4vw;
    margin-right: 1.4em;
    list-style: none;
}

.NavItems li a {
    text-decoration: none;
    color: rgb(231, 231, 231);
    font-weight: 600;
}

.NavItems li a:hover {
    color: #E01A4F;
    font-weight: 600;
}


.Navbar img {
    width: 35px;
    margin-left: 2em;
    margin-top: .5em;
}